// Specific CSS for the home-page
// class is more specific than tag and will override a tag

body {
  // background-image: asset-url('monstera.jpeg');
  // background-filter: #00280D;
  // opacity: 0.5;
}

h1 {

  // font-family: 'Abril Fatface', cursive;
  font-family: 'Montserrat', sans-serif;
  font-size: 55px;
  color: #FFD700;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 44px;
  color: #FFD700;
  text-align: center;
}
// .card {

// }

a {
  color: #A5409F;

}

.home-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
  padding: 20px;
}


