// Specific CSS for the home-page
// class is more specific than tag and will override a tag

body {
  // background-image: asset-url('monstera.jpeg');
  // background-filter: #00280D;
  // opacity: 0.5;
}

h1 {

  // font-family: 'Abril Fatface', cursive;
font-family: 'Montserrat', sans-serif;
font-size: 55px;
color: #FFD700;
text-align: center;
}
// .card {

// }




