<h1> My Plant-Sitting Requests</h1>

<div class="card-container">
  <% if current_user.plant_sitter == true %>
    <% @bookings.where(plant_sitter_id: current_user.id).each do |booking| %>
      <%= render 'booking_card', {booking: booking} %>
    <% end %>
  <% else %>
    <% @bookings.where(customer_id: current_user.id).each do |booking| %>
      <%= render 'booking_card', {booking: booking} %>
    <% end %>
  <% end %>
</div>

