
<section class="section">
  <div style="background: url(<%= asset_path "fern.jpeg" %>)">
    <div class="container">
      <h1>Plant Sitters in your area</h1>
      <div class="all-users">
        <% @users.each do |user| %>
          <% if user.plant_sitter == true %>
            <%= render 'user_card', {user: user} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>


<!-- <img src="/app/assets/images/monstera.jpeg" alt=""> -->


<!-- <div class="d-flex justify-content-center">
      <a class="btn-medium-gold" href="">plant sitter</a>
    </div> -->
