<!-- .btn-medium
.btn-medium:hover
.btn-treehouse
.btn-treehouse:hover
.btn-gradient
.btn-gradient:hover  -->


<section class="section">
  <div class="container">
    <h1>What do you want to be today?</h1>
    <div class="d-flex justify-content-center">
      <a class="btn-medium-gold" href="">plant sitter</a>
    </div>
  </div>
</section>

<img src="/app/assets/images/monstera.jpeg" alt="">


<!-- <div class="card">
      <div class="btn-medium">
        <h2> plant sitter </h2>
      </div>
    </div> -->
