<h1>Welcome to PlantSitter!</h1>
<h2>What do you want to today?</h2>

<p><%= link_to "I want to find a plant sitter.", users_path %></p>


<p><%= link_to "I am a plant sitter, I want to manage my bookings.", users_path %></p>
