<!-- <img src="/app/assets/images/monstera.jpeg" alt=""> -->
<div style="background: url(<%= asset_path "monstera.jpeg" %>)">
  <div class="home-container">
    <div class="d-flex justify-content-center text-align-center">
      <h1>What would you like to do today?</h1>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to "FIND A PLANT SITTER", users_path, class:"btn-medium-gold" %>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to "MANAGE MY BOOKINGS", bookings_path, class:"btn-medium-gold" %>
    </div>
  </div>
</div>


