.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px 8px;
  opacity: 0.85;
}

.card-product img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-top: 8px;
}

.card-product p {
  font-size: 8px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  padding-right: 2px;
}

.card-product .card-product-infos {
  padding: 8px 8px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.card-container {
  padding: 0px 30px;
}

.fa-check {
  margin-right: 8px;

}

.fa-times {

}

.card-link a {
  color: #A5409F;
  font-size: 13px;
}

.mobile-header {
  font-size: 26px;
  margin-bottom: 20px;
  margin-top: 20px;
}
