.btn-medium-gold {
  color: white;
  border: 5px solid white;
  padding: 32px;
  border-radius: 10px;
  font-weight: lighter;
  font-size: 32px;
  opacity: 0.9;
  // margin: 0 auto;
  // display: inline-block;
  // text-align: center;
}

.btn-medium-gold:hover {
  // opacity: 0.1;
  border-color: #FFD700
  text-decoration: none;
  // color: #FFD700;
  // background: #FFD700;
  color: white;
}


