// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "buttons";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@100;300;500;600&display=swap');
